<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />


        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @*<script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>*@

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <link rel="stylesheet" href="~/Scripts/Frameworks/foundation/css/foundation.css">
        <link rel="stylesheet" href="~/Scripts/Frameworks/foundation/css/app.css">


        <script src="~/Scripts/Frameworks/foundation/js/vendor/jquery.js"></script>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="~/Scripts/Frameworks/js/foundation-datepicker.js"></script>
        <script src="~/Scripts/Frameworks/js/locales/foundation-datepicker.vi.js"></script>

        <link rel="stylesheet" href="~/Scripts/Frameworks/css/foundation-datepicker.min.css">



        @*<script src="~/Scripts/DataTable/media/js/jquery.js"></script>*@
        <script src="~/Scripts/DataTable/media/js/jquery.dataTables.js"></script>
        <script src="~/Scripts/DataTable/media/js/dataTables.foundation.js"></script>

        <link href="~/Scripts/DataTable/media/css/dataTables.foundation.css" rel="stylesheet" />

        

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left ">
                    <p class="site-title"><h1> @Html.ActionLink("SIS GMKT", "Index", "Home")</h1></p>
                </div>
                
            </div>
            <div class="content-wrapper float-left">
                <section id="login">
                    @*@Html.Partial("_LoginPartial")*@
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Plan Marketing", "Index", "Home")</li>
                        <li>@Html.ActionLink("Rubros", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sugerencia Estrategia", "Index", "sugerirEstrategiaValida")</li>
                        <li>@Html.ActionLink("Sugerencia Acción", "Index", "sugerirAccionValida")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body" >
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - MY Sefiroth Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/Scripts/Frameworks/foundation/js/vendor/jquery.js")
        @Scripts.Render("~/Scripts/Frameworks/foundation/js/vendor/what-input.js")
        @Scripts.Render("~/Scripts/Frameworks/foundation/js/vendor/foundation.js")
        @Scripts.Render("~/Scripts/Frameworks/foundation/js/app.js")

        
    </body>
</html>

